@font-face {
    font-family: palatino;
    src: url(/static/fonts/palatino.ttf);
  }
.header{
    background-color: #242424;
    height: 100vh;
    text-align: left;
    padding-left: 32px;
    min-width:fit-content;
}
.header p{
    cursor: pointer;
}
body{
    max-width:100vw;
}
h1{
    color: white;
    font-family:palatino;
    font-size:32px;
    letter-spacing: 4px;
    padding-top: 32px;
    padding-bottom: 8px;
}
p{
    color: white;
    font-family:palatino;
    font-size: 16px;
    letter-spacing:2px;
    padding-top:8px;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
.content{
    background-color: #242424;
    overflow-y: scroll;
    max-height: 100vh;
    padding-top:16px;
}
.column{
    padding: 0px 8px;
    min-width: 40vh;
    background-color: #242424;
}
.index-img{
    padding-bottom: 16px;
    max-width: 100%;
    min-width: 100%;
}
.modal-body{
    background-color: #242424;
    padding:4px;
    width: fit-content;
    border-radius:4px;
}
.modal-content{
    width:fit-content !important;
    display: flex;
    justify-content: center;
}
.modal-body img{
    max-height:90vh;
}
.page-img{
    max-height:90vh;
    padding-bottom:4px;
}
.youtubePlayer{
    height: 50vh;
    width:80vh;
}